.container{
    
    background-color: #b89d9d;
    height: 500px;
    width: 500px;
    padding-top:1px;
}
#num{
height: 30px;
border-radius: 10px;
}
#btn{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    background-color: rgb(165, 182, 71);
}